@media screen and (max-width: 1400px){
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./assets/ffflux.svg') no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
    
    body{
        padding-left: 2%;
        padding-right: 3%;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    .logo{
        font-size: 3rem;
    }
    .nav{
        height: 10vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
        gap:2rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
    .section__text{
        align-self: center;
        text-align: center;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section__pic-container{
        width: 350px;
        height: 350px;
        margin: 0 2% 2rem;
        align-self: center;
        text-align: center;
    }
    .about-containers{
        margin-top: 0;
    }
    #desktop-nav{
        height: 9vh;
        margin-top: 10px;
    }
    #desktop-nav li{
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px){
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./assets/ffflux.svg') no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
    
    .logo-header{
        top:40%;
        left: 26%;
    }
    .nav{
        height: 10vh;
    }
    #desktop-nav{
        display: none;
    }
    .logo{
        font-size: 2.5rem;
    }
    .logo-header{
        top:70%;
        left: 25%;
    }
    .logoint {
        bottom: 120px !important;
        left: 100px !important;
    }
    #hamburger-nav{
        display: flex;
        height: 10vh;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
        height: 30vh;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    #contact, footer{
        height: 40vh;
    }
    #experience, .experience-details-container{
        margin-top: 2rem;
    }
    #profile, .section-container{
        display: flex;
        flex-direction: column;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section__text{
        margin-top: 30px;
    }
    .section__pic-container img{
        width: auto;
        height: 22rem;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
    .carousel {
        position: relative;
        width: 90%;
    }
    .carousel-wrapper {
        width: 80%;
        overflow: hidden;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(84, 84, 84, 0.5);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 10px;
        font-size: 24px;
        z-index: 1;
    } 
    .prev { left: 8px; }
    .next { right: 8px; }

    .indicator {
        width: 10px;
        height: 10px;
        background-color: gray;
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px){
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./assets/ffflux.svg') no-repeat center center;
        background-size: cover;
        z-index: -1;
    }
    .logo-header{
        top:40%;
        left: 26%;
    }

    #contact, footer{
        height: 40vh;
    }
    #profile{
        height: 90vh;
        margin-bottom: 0;
    }
    article{
        font-size: 1rem;
    }
    #hamburger-nav{
        height: 7vh;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container{
        flex-wrap: wrap;
    }
    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .logo-header{
        top:70%;
        left: 20%;
    }
    .logoint {
        bottom: 120px !important;
        left: 40px;
    }
    .nav{
        height: 9vh;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container img{
        width: auto;
        height: 30vh;
        margin-left: -50px;
        margin-bottom: 1rem;
    }
    .section__pic-container{
        width: 100vw;
        height: 18vh;
        justify-content: center;
    }
    .section__text{
        margin-top: 40px;
    }
    .section__text__p2{
        font-size: 1rem;
    }
    .title{
        font-size: 1.7rem;
    }
    .text-container{
        text-align: justify;
    }
    .footer nav{
        height: 20vh;
    }
    .footer p{
        font-size: small;
    }
    .carousel {
        position: relative;
        width: 100%;
    }
    .carousel-wrapper {
        width: 70%;
        overflow: hidden;
    }
    .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(84, 84, 84, 0.5);
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        padding: 5px 10px;
        font-size: 24px;
        z-index: 1;
    } 
    .prev { left: 4px; }
    .next { right: 4px; }

    .indicator {
        width: 6px;
        height: 6px;
        background-color: gray;
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
    }
}